
.body{

    margin: 0px;
    padding: 0px;
}
.topo{
    background-image: url(img/banner-topo.jpg);
    background-size: cover;
    padding: 50px 80px;
    background-position: center;
    color: #3c184e;
    height: 450px;
    display: flex;
    margin-bottom: 50px;

    
    
}
.petbotique img{
    height: 20px;
    width: 20px;
   
    

}
.petbotique{
    display: flex;
    align-items: center;
    padding: 0px;
    height: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    
    
}

.logoPet p{
    margin-top: 10px;
    justify-content: center;
    
    
}
.logoPet{
    
    display: contents;
    display: flex;
    flex-direction: column;
    height: 10px;
    position: absolute;
    top:0;
    left:0;
    padding: 20px;

}
.tratamento{
   
   background-color: rgba(255, 255, 255, 0.788);
   padding: 15px 25px 45px 25px;
   text-align: center;
   font-weight: 700;
   border-radius: 5px;
   box-shadow: 5px 5px 5px #1f26875e;
   height: 150px;
   width: 600px;
   margin: auto;


   /* #1f26875e; */
}
.tratamento a{
    padding: 5px 10px;
    background-color: #3c184e;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 10px;
    
}
.tratamento img{
    align-items: center;
    margin: auto;
}